%html
  %head
    %title How many days?
  %body
    %h1= @msg if @msg
    %h1= "#{@days} days from #{@start_date} to #{@end_date}" if @days
    %form{:action => '/', :method => :get}
      Start date:
      %input{:type => :text, :name => :start_date, :value => @start_date}
      %br/
      End date:
      %input{:type => :text, :name => :end_date, :value => @end_date}
      %br/
      %input{:type => :checkbox, :name => :exclude_weekends,
             :id => :exclude_weekends,
             :checked => ('checked' if @exclude_weekends)}
      %label{:for => :exclude_weekends} Exclude weekends
      %br/
      %input{:type => :submit, :value => "How many days?"}
